mixin videoPlayer(video = {})
	.videoPlayer#JsVideoPlayer
		video(src=`/${video.src}`)
		.videoPlayer__controls
			.videoPlayer__column
				span#JsVolumeButton
					i.fas.fa-volume-up
				span
					span#currentTime 00:00:00 
					span / 
					span#totalTime 00:00:00
				input.videoPlayer__volume#JsVolume(type="range", min="0", max="1", step="0.1" value="0.5")
			.videoPlayer__column
				span#JsPlayButton
					i.fas.fa-play
			.videoPlayer__column
				span#JsFullscreen
					i.fas.fa-expand